.patt{
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
}

#logo{
   width: 200px;
   height: 100px;;
}

.titolo{
    font-size: 60px;
}

thead{
    background-color: #20A9E5;
}

.azzurro{
    background-color: #B1E5F2;
}